# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
#### Mookwon Seo

**Objectives:**
* List popular languages for Data Science
* List common libraries used by data scientists
* List data science tools
* Examples of simple arithmetic expression

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas
4. PyTorch
5. TensorFlow
6. Keras
7. Matplotlib

| Data Science Tools |
| ------------ |
| Jupyter Notebook |
| R studio |
| Tensorflow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335